# Dependencies
node_modules/

# Next.js
.next/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# SQLite database
*.db
*.db-journal
*.db-wal
*.db-shm

# Misc
.DS_Store
